# --- DATA PRE-PROCESSING ---

In [2]:
import pandas as pd
pd.set_option("display.max_columns", None)
import numpy as np

# 1) Data Loading

In [15]:
# read in raw source data
data = pd.read_csv('Data/Loan_status_2007-2020Q3.csv')
data.drop('id', axis=1, inplace=True)

/tmp/ipykernel_57/2946691404.py:2: DtypeWarning: Columns (0,47,57,116,126,127,128,131,132,133,136) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Data/Loan_status_2007-2020Q3.csv')

In [16]:
data.shape

(2523331, 140)

In [17]:
data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag
0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,735.0,739.0,1.0,NaN,NaN,3.0,0.0,13648.0,83.7%,9.0,f,0.0,0.0,5863.155187,5833.84,5000.00,863.16,0.00,0.0,0.00,Jan-2015,171.62,NaN,May-2020,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,car,bike,309xx,GA,1.00,0.0,Apr-1999,740.0,744.0,5.0,NaN,NaN,3.0,0.0,1687.0,9.4%,4.0,f,0.0,0.0,1014.530000,1014.53,456.46,435.17,0.00,122.9,1.11,Apr-2013,119.66,NaN,Oct-2016,499.0,0.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,735.0,739.0,2.0,NaN,NaN,2.0,0.0,2956.0,98.5%,10.0,f,0.0,0.0,3005.666844,3005.67,2400.00,605.67,0.00,0.0,0.00,Jun-2014,649.91,NaN,Jun-2017,739.0,735.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
3,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,personel,917xx,CA,20.00,0.0,Feb-1996,690.0,694.0,1.0,35.0,NaN,10.0,0.0,5598.0,21%,37.0,f,0.0,0.0,12231.890000,12231.89,10000.00,2214.92,16.97,0.0,0.00,Jan-2015,357.48,NaN,Apr-2016,604.0,600.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,Personal,972xx,OR,17.94,0.0,Jan-1996,695.0,699.0,0.0,38.0,NaN,15.0,0.0,27783.0,53.9%,38.0,f,0.0,0.0,4066.908161,4066.91,3000.00,1066.91,0.00,0.0,0.00,Jan-2017,67.30,NaN,Apr-2018,684.0,680.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

## Preliminary Feature Selection (based on research findings)

In [18]:
data = data[['loan_status',
             'loan_amnt',
             'term',
             'int_rate',
             'installment',
             'grade',
             'sub_grade',
             'emp_length',
             'emp_title',
             'home_ownership',
             'annual_inc',
             'verification_status',
             'issue_d',
             'purpose',
             'dti',
             'fico_range_high',
             'fico_range_low',
             'earliest_cr_line',
             'open_acc',
             'pub_rec',
             'revol_bal',
             'revol_util',
             'total_acc',
             'initial_list_status',
             'pub_rec_bankruptcies',
             'mort_acc',
             'addr_state',
             'application_type']]

In [19]:
data.head()

,loan_status,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,emp_title,home_ownership,annual_inc,verification_status,issue_d,purpose,dti,fico_range_high,fico_range_low,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,pub_rec_bankruptcies,mort_acc,addr_state,application_type
0,Fully Paid,5000.0,36 months,10.65%,162.87,B,B2,10+ years,NaN,RENT,24000.0,Verified,Dec-2011,credit_card,27.65,739.0,735.0,Jan-1985,3.0,0.0,13648.0,83.7%,9.0,f,0.0,NaN,AZ,Individual
1,Charged Off,2500.0,60 months,15.27%,59.83,C,C4,< 1 year,Ryder,RENT,30000.0,Source Verified,Dec-2011,car,1.00,744.0,740.0,Apr-1999,3.0,0.0,1687.0,9.4%,4.0,f,0.0,NaN,GA,Individual
2,Fully Paid,2400.0,36 months,15.96%,84.33,C,C5,10+ years,NaN,RENT,12252.0,Not Verified,Dec-2011,small_business,8.72,739.0,735.0,Nov-2001,2.0,0.0,2956.0,98.5%,10.0,f,0.0,NaN,IL,Individual
3,Fully Paid,10000.0,36 months,13.49%,339.31,C,C1,10+ years,AIR RESOURCES BOARD,RENT,49200.0,Source Verified,Dec-2011,other,20.00,694.0,690.0,Feb-1996,10.0,0.0,5598.0,21%,37.0,f,0.0,NaN,CA,Individual
4,Fully Paid,3000.0,60 months,12.69%,67.79,B,B5,1 year,University Medical Group,RENT,80000.0,Source Verified,Dec-2011,other,17.94,699.0,695.0,Jan-1996,15.0,0.0,27783.0,53.9%,38.0,f,0.0,NaN,OR,Individual

In [20]:
data.describe()

,loan_amnt,installment,annual_inc,dti,fico_range_high,fico_range_low,open_acc,pub_rec,revol_bal,total_acc,pub_rec_bankruptcies,mort_acc
count,2.523330e+06,2.523330e+06,2.523326e+06,2.520361e+06,2.523330e+06,2.523330e+06,2.523301e+06,2.523301e+06,2.523330e+06,2.523301e+06,2.521965e+06,2.473300e+06
mean,1.550506e+04,4.546227e+02,7.983131e+04,1.940725e+01,7.052315e+02,7.012313e+02,1.166030e+01,1.621206e-01,1.705117e+04,2.403224e+01,1.188811e-01,1.518109e+00
std,9.505469e+03,2.718874e+02,1.098252e+05,1.622861e+01,3.401485e+01,3.401393e+01,5.729382e+00,4.909916e-01,2.304760e+04,1.210723e+01,3.450374e-01,1.881838e+00
min,5.000000e+02,4.930000e+00,0.000000e+00,-1.000000e+00,6.140000e+02,6.100000e+02,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,8.000000e+03,2.563000e+02,4.700000e+04,1.206000e+01,6.790000e+02,6.750000e+02,8.000000e+00,0.000000e+00,6.000000e+03,1.500000e+01,0.000000e+00,0.000000e+00
50%,1.350000e+04,3.854300e+02,6.600000e+04,1.811000e+01,6.990000e+02,6.950000e+02,1.100000e+01,0.000000e+00,1.156900e+04,2.200000e+01,0.000000e+00,1.000000e+00
75%,2.080000e+04,6.082200e+02,9.500000e+04,2.497000e+01,7.240000e+02,7.200000e+02,1.500000e+01,0.000000e+00,2.081000e+04,3.100000e+01,0.000000e+00,2.000000e+00
max,4.000000e+04,1.719830e+03,1.100000e+08,9.990000e+02,8.500000e+02,8.450000e+02,1.040000e+02,8.600000e+01,2.904836e+06,1.760000e+02,1.200000e+01,9.400000e+01

In [21]:
# data types for each column
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2523331 entries, 0 to 2523330
Data columns (total 28 columns):
 #   Column                Dtype
---  ------                -----
 0   loan_status           object
 1   loan_amnt             float64
 2   term                  object
 3   int_rate              object
 4   installment           float64
 5   grade                 object
 6   sub_grade             object
 7   emp_length            object
 8   emp_title             object
 9   home_ownership        object
 10  annual_inc            float64
 11  verification_status   object
 12  issue_d               object
 13  purpose               object
 14  dti                   float64
 15  fico_range_high       float64
 16  fico_range_low        float64
 17  earliest_cr_line      object
 18  open_acc              float64
 19  pub_rec               float64
 20  revol_bal             float64
 21  revol_util            object
 22  total_acc             float64
 23  initial_list_status   object
 24  pub_rec_bankruptcies  float64
 25  mort_acc              float64
 26  addr_state            object
 27  application_type      object
dtypes: float64(12), object(16)
memory usage: 539.0+ MB

# 2) Data Cleaning

In [22]:
# dropping any "joint" applications - only looking at individual loan applications for this use case
data = data[data['application_type']=='Individual']
data.drop('application_type', axis=1, inplace=True)

## Target Variable - "Default"

In [23]:
data['loan_status'].unique()

array(['Fully Paid', 'Charged Off',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Current',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Default', 'Issued'], dtype=object)

In [24]:
# dropping any active loans (current or late) as I am only considering "matured" loans (defaulted or paid off)
data = data.loc[data['loan_status'].isin(['Fully Paid', 'Charged Off', 'Default'])]

# converting into binary feature
data.replace({'loan_status':{'Fully Paid':0, 'Default':1, 'Charged Off':1}}, inplace=True)

# renaming loan_status to default (target variable)
data.rename(columns = {"loan_status": "default"}, inplace = True)

## Predictor Variables

In [25]:
# count of unique values for each column
data.nunique()

default                      2
loan_amnt                 1562
term                         2
int_rate                   672
installment              84120
grade                        7
sub_grade                   35
emp_length                  11
emp_title               393657
home_ownership               6
annual_inc               67648
verification_status          3
issue_d                    149
purpose                     14
dti                       4869
fico_range_high             40
fico_range_low              40
earliest_cr_line           760
open_acc                    84
pub_rec                     39
revol_bal                86907
revol_util                1383
total_acc                  149
initial_list_status          2
pub_rec_bankruptcies        12
mort_acc                    39
addr_state                  51
dtype: int64

In [26]:
data['term'].value_counts(normalize=True, dropna=False)

 36 months    0.737275
 60 months    0.262725
Name: term, dtype: float64

In [27]:
data['grade'].value_counts(normalize=True, dropna=False)

B    0.289131
C    0.273442
A    0.194885
D    0.150006
E    0.066085
F    0.020748
G    0.005703
Name: grade, dtype: float64

In [28]:
data['emp_length'].value_counts(normalize=True, dropna=False)

10+ years    0.328453
2 years      0.090419
3 years      0.080389
< 1 year     0.080098
1 year       0.066292
5 years      0.062853
4 years      0.060616
NaN          0.058825
6 years      0.046680
7 years      0.044623
8 years      0.044377
9 years      0.036375
Name: emp_length, dtype: float64

In [29]:
data['verification_status'].value_counts(normalize=True, dropna=False)

Source Verified    0.393786
Not Verified       0.319050
Verified           0.287164
Name: verification_status, dtype: float64

In [30]:
data['purpose'].value_counts(normalize=True, dropna=False)

debt_consolidation    0.572533
credit_card           0.228942
home_improvement      0.063313
other                 0.058425
major_purchase        0.021946
medical               0.011272
small_business        0.011028
car                   0.010533
moving                0.006689
vacation              0.006600
house                 0.006255
wedding               0.001584
renewable_energy      0.000654
educational           0.000226
Name: purpose, dtype: float64

In [31]:
data['initial_list_status'].value_counts(normalize=True, dropna=False)

w    0.617989
f    0.382011
Name: initial_list_status, dtype: float64

In [32]:
# cleaning categorical columns
data.replace({'term':{' 36 months':0,' 60 months':1}}, inplace=True)

data['grade_code'] = data['grade']
data.replace({'grade':{'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':7}}, inplace=True)

data['sub_grade_code'] = data['sub_grade']
data.replace({'sub_grade':{'A1':1,'A2':2,'A3':3,'A4':4,'A5':5,
                           'B1':6,'B2':7,'B3':8,'B4':9,'B5':10,
                           'C1':11,'C2':12,'C3':13,'C4':14,'C5':15,
                           'D1':16,'D2':17,'D3':18,'D4':19,'D5':20,
                           'E1':21,'E2':22,'E3':23,'E4':24,'E5':25,
                           'F1':26,'F2':27,'F3':28,'F4':29,'F5':30,
                           'G1':31,'G2':32,'G3':33,'G4':34,'G5':35}}, inplace=True)

data['emp_length_code'] = data['emp_length']
data.replace({'emp_length':{'< 1 year':0.5,'1 year':1,'2 years':2,'3 years':3,'4 years':4,'5 years':5,
                            '6 years':6,'7 years':7,'8 years':8,'9 years':9,'10 years':10,'10+ years':15}}, inplace=True)

data.replace({'verification_status':{'Source Verified':'Source_Verified','Not Verified':'Not_Verified'}}, inplace=True)

data.replace({'initial_list_status':{'f':0,'w':1}}, inplace=True)

In [33]:
# clean percentage columns (int_rate, revol_util)
data['int_rate'].replace('%', '', regex=True, inplace=True)
data['revol_util'].replace('%', '', regex=True, inplace=True)
data[['int_rate','revol_util']] = data[['int_rate','revol_util']].apply(pd.to_numeric, errors='coerce', axis=1)

# 3) Feature Engineering

### Employment background

In [34]:
# emp_title cleaning
data['emp_title'] = data['emp_title'].str.upper()
data.replace({'emp_title':{'NURSE':'REGISTERED NURSE', 'RN':'REGISTERED NURSE'}}, inplace=True)
data['emp_title'].fillna("MISSING", inplace=True)

# top 15 emp_titles 
data['emp_title'].value_counts()[:15]
titles_top = data['emp_title'].value_counts()[:15].index.tolist()

In [35]:
data['manager'] = 0
manager_ind = data[data['emp_title'].str.contains('MANAGER', na=False)].index
data.loc[manager_ind, 'manager'] = 1
data.loc[~data['emp_title'].isin(titles_top), 'emp_title'] = "OTHER"

In [36]:
## show example records to verify
data[data['manager']==1]

,default,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,emp_title,home_ownership,annual_inc,verification_status,issue_d,purpose,dti,fico_range_high,fico_range_low,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,pub_rec_bankruptcies,mort_acc,addr_state,grade_code,sub_grade_code,emp_length_code,manager
2934,0,9000.0,0,15.96,316.24,3,15,4.0,OTHER,RENT,54000.0,Not_Verified,Nov-2011,debt_consolidation,8.27,689.0,685.0,May-2003,9.0,0.0,7962.0,95.9,16.0,0,0.0,NaN,CA,C,C5,4 years,1
15400,0,9000.0,0,8.49,284.07,1,5,7.0,OTHER,RENT,42000.0,Not_Verified,May-2011,debt_consolidation,23.57,719.0,715.0,Nov-2000,10.0,0.0,8026.0,60.8,22.0,0,0.0,NaN,CA,A,A5,7 years,1
29144,0,15000.0,0,10.38,486.69,2,6,2.0,OTHER,MORTGAGE,75744.0,Not_Verified,Jun-2010,debt_consolidation,16.87,739.0,735.0,Jun-1989,17.0,0.0,14339.0,38.6,26.0,0,0.0,NaN,IL,B,B1,2 years,1
38684,0,7500.0,0,11.97,249.00,3,14,8.0,OTHER,RENT,57000.0,Not_Verified,Jun-2008,other,6.06,679.0,675.0,Dec-1983,11.0,0.0,5450.0,40.7,16.0,0,0.0,NaN,CA,C,C4,8 years,1
42536,0,12000.0,0,10.99,392.81,2,7,4.0,PROJECT MANAGER,RENT,60000.0,Not_Verified,Dec-2013,debt_consolidation,4.62,724.0,720.0,Dec-2009,15.0,0.0,7137.0,24.0,18.0,0,0.0,0.0,NC,B,B2,4 years,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2523285,0,7800.0,0,8.99,248.01,2,6,7.0,OTHER,MORTGAGE,70000.0,Verified,Sep-2016,debt_consolidation,20.01,679.0,675.0,Sep-2005,9.0,0.0,8231.0,57.2,42.0,0,0.0,2.0,VA,B,B1,7 years,1
2523289,0,7500.0,0,7.59,233.61,1,3,0.5,OFFICE MANAGER,OWN,41600.0,Source_Verified,Sep-2016,other,15.87,764.0,760.0,Apr-1999,13.0,0.0,8101.0,18.0,27.0,1,0.0,1.0,IN,A,A3,< 1 year,1
2523296,0,25000.0,0,8.59,790.24,1,5,2.0,MANAGER,RENT,100000.0,Not_Verified,Sep-2016,debt_consolidation,10.52,754.0,750.0,Mar-2002,10.0,0.0,7510.0,22.7,35.0,0,0.0,0.0,SC,A,A5,2 years,1
2523304,0,15000.0,0,10.49,487.47,2,8,15.0,OTHER,MORTGAGE,84000.0,Source_Verified,Sep-2016,home_improvement,21.60,684.0,680.0,Sep-2004,10.0,0.0,16785.0,52.8,17.0,1,0.0,1.0,FL,B,B3,10+ years,1
2523327,0,10000.0,1,25.69,297.58,6,26,15.0,MANAGER,RENT,27000.0,Verified,Sep-2016,debt_consolidation,11.11,729.0,725.0,Aug-2003,6.0,0.0,3158.0,26.5,7.0,1,0.0,0.0,CA,F,F1,10+ years,1

### FICO score

In [37]:
# create new feature "fico" as average of fico_range_high and fico_range_low
data['fico'] = data[['fico_range_high','fico_range_low']].mean(axis=1)
data.drop(['fico_range_high','fico_range_low'], inplace=True, axis=1)

### Credit history length

In [38]:
# create new feature "years_cr_line" as years between years of loan issue and earliest credit line
## extract issue year from issue_d
data['issue_d'] = pd.to_numeric(data['issue_d'].str.strip().str[-4:])
## extract year for earliest_cr_line
data['earliest_cr_line'] = pd.to_numeric(data['earliest_cr_line'].str.strip().str[-4:])
## calculate difference and store as yrs_cr_line
data['yrs_cr_line'] = data['issue_d'] - data['earliest_cr_line']
data.drop(['earliest_cr_line'], inplace=True, axis=1)

### Loan purpose

In [39]:
# upper case
data['verification_status'] = data['verification_status'].str.upper()
data['purpose'] = data['purpose'].str.upper()

In [40]:
data.head()

,default,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,emp_title,home_ownership,annual_inc,verification_status,issue_d,purpose,dti,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,pub_rec_bankruptcies,mort_acc,addr_state,grade_code,sub_grade_code,emp_length_code,manager,fico,yrs_cr_line
0,0,5000.0,0,10.65,162.87,2,7,15.0,MISSING,RENT,24000.0,VERIFIED,2011,CREDIT_CARD,27.65,3.0,0.0,13648.0,83.7,9.0,0,0.0,NaN,AZ,B,B2,10+ years,0,737.0,26
1,1,2500.0,1,15.27,59.83,3,14,0.5,OTHER,RENT,30000.0,SOURCE_VERIFIED,2011,CAR,1.00,3.0,0.0,1687.0,9.4,4.0,0,0.0,NaN,GA,C,C4,< 1 year,0,742.0,12
2,0,2400.0,0,15.96,84.33,3,15,15.0,MISSING,RENT,12252.0,NOT_VERIFIED,2011,SMALL_BUSINESS,8.72,2.0,0.0,2956.0,98.5,10.0,0,0.0,NaN,IL,C,C5,10+ years,0,737.0,10
3,0,10000.0,0,13.49,339.31,3,11,15.0,OTHER,RENT,49200.0,SOURCE_VERIFIED,2011,OTHER,20.00,10.0,0.0,5598.0,21.0,37.0,0,0.0,NaN,CA,C,C1,10+ years,0,692.0,15
4,0,3000.0,1,12.69,67.79,2,10,1.0,OTHER,RENT,80000.0,SOURCE_VERIFIED,2011,OTHER,17.94,15.0,0.0,27783.0,53.9,38.0,0,0.0,NaN,OR,B,B5,1 year,0,697.0,15

## Save cleaned dataset for EDA

In [27]:
data.to_csv("data_eda.csv", index=False)

# 4) Outlier Handling

In [41]:
### z-score outlier capping (REMOVAL AS ALTERNATIVE)
def zscore_capping(df, cols, thres):
    for col in cols:
        mean = np.mean(df[col])
        std = np.std(df[col])
        
        upper = mean + thres * std
        lower = mean - thres * std
        
        df[col] = np.where(df[col]>upper, upper,
                           np.where(df[col]<lower, lower, df[col]))
        
    return df

In [42]:
data.describe()

,default,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,annual_inc,issue_d,dti,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,pub_rec_bankruptcies,mort_acc,manager,fico,yrs_cr_line
count,1.449235e+06,1.449235e+06,1.449235e+06,1.449235e+06,1.449235e+06,1.449235e+06,1.449235e+06,1.363984e+06,1.449235e+06,1.449235e+06,1.449235e+06,1.449235e+06,1.449235e+06,1.449235e+06,1.448201e+06,1.449235e+06,1.449235e+06,1.448538e+06,1.401954e+06,1.449235e+06,1.449235e+06,1.449235e+06
mean,1.935573e-01,1.459682e+04,2.627248e-01,1.308914e+01,4.374622e+02,2.688331e+00,1.140908e+01,7.742125e+00,7.754965e+04,2.015286e+03,1.804846e+01,1.160148e+01,1.953030e-01,1.639211e+04,5.095171e+01,2.482907e+01,6.179895e-01,1.282203e-01,1.634300e+00,1.323533e-01,6.995858e+02,1.626505e+01
std,3.950860e-01,8.808910e+03,4.401143e-01,4.737864e+00,2.591113e+02,1.289907e+00,6.433057e+00,5.725549e+00,1.173682e+05,1.939180e+00,8.506695e+00,5.534936e+00,5.668434e-01,2.250855e+04,2.484343e+01,1.207471e+01,4.858792e-01,3.652836e-01,1.983954e+00,3.388746e-01,3.244406e+01,7.555820e+00
min,0.000000e+00,5.000000e+02,0.000000e+00,5.310000e+00,4.930000e+00,1.000000e+00,1.000000e+00,5.000000e-01,2.000000e+03,2.007000e+03,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.270000e+02,3.000000e+00
25%,0.000000e+00,8.000000e+03,0.000000e+00,9.440000e+00,2.501000e+02,2.000000e+00,7.000000e+00,2.000000e+00,4.650000e+04,2.014000e+03,1.168000e+01,8.000000e+00,0.000000e+00,5.905000e+03,3.210000e+01,1.600000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.720000e+02,1.100000e+01
50%,0.000000e+00,1.200000e+04,0.000000e+00,1.269000e+01,3.752900e+02,3.000000e+00,1.100000e+01,6.000000e+00,6.500000e+04,2.015000e+03,1.751000e+01,1.100000e+01,0.000000e+00,1.119600e+04,5.120000e+01,2.300000e+01,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,6.920000e+02,1.500000e+01
75%,0.000000e+00,2.000000e+04,1.000000e+00,1.602000e+01,5.786800e+02,3.000000e+00,1.500000e+01,1.500000e+01,9.200000e+04,2.017000e+03,2.397000e+01,1.400000e+01,0.000000e+00,1.996800e+04,7.020000e+01,3.200000e+01,1.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,7.170000e+02,2.000000e+01
max,1.000000e+00,4.000000e+04,1.000000e+00,3.099000e+01,1.719830e+03,7.000000e+00,3.500000e+01,1.500000e+01,1.100000e+08,2.020000e+03,4.996000e+01,9.000000e+01,8.600000e+01,2.904836e+06,8.923000e+02,1.760000e+02,1.000000e+00,1.200000e+01,5.100000e+01,1.000000e+00,8.475000e+02,8.300000e+01

In [43]:
cont_feats = list(data.select_dtypes('number'))

for col in ['default','term','grade','sub_grade','emp_length','fico']:
    cont_feats.remove(col)
    
cont_feats

['loan_amnt',
 'int_rate',
 'installment',
 'annual_inc',
 'issue_d',
 'dti',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'pub_rec_bankruptcies',
 'mort_acc',
 'manager',
 'yrs_cr_line']

In [44]:
data = zscore_capping(data, cont_feats, 3)
data.describe()

,default,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,annual_inc,issue_d,dti,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,pub_rec_bankruptcies,mort_acc,manager,fico,yrs_cr_line
count,1.449235e+06,1.449235e+06,1.449235e+06,1.449235e+06,1.449235e+06,1.449235e+06,1.449235e+06,1.363984e+06,1.449235e+06,1.449235e+06,1.449235e+06,1.449235e+06,1.449235e+06,1.449235e+06,1.448201e+06,1.449235e+06,1.449235e+06,1.448538e+06,1.401954e+06,1.449235e+06,1.449235e+06,1.449235e+06
mean,1.935573e-01,1.459682e+04,2.627248e-01,1.307701e+01,4.368725e+02,2.688331e+00,1.140908e+01,7.742125e+00,7.657941e+04,2.015290e+03,1.804614e+01,1.154114e+01,1.775811e-01,1.554826e+04,5.095019e+01,2.474856e+01,6.179895e-01,1.216078e-01,1.611791e+00,1.323533e-01,6.995858e+02,1.620914e+01
std,3.950860e-01,8.808910e+03,4.401143e-01,4.697756e+00,2.572144e+02,1.289907e+00,6.433057e+00,5.725549e+00,4.800662e+04,1.927475e+00,8.499186e+00,5.292150e+00,4.297455e-01,1.488293e+04,2.482938e+01,1.176413e+01,4.858792e-01,3.293673e-01,1.888904e+00,3.388746e-01,3.244406e+01,7.354372e+00
min,0.000000e+00,5.000000e+02,0.000000e+00,5.310000e+00,4.930000e+00,1.000000e+00,1.000000e+00,5.000000e-01,2.000000e+03,2.009469e+03,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.270000e+02,3.000000e+00
25%,0.000000e+00,8.000000e+03,0.000000e+00,9.440000e+00,2.501000e+02,2.000000e+00,7.000000e+00,2.000000e+00,4.650000e+04,2.014000e+03,1.168000e+01,8.000000e+00,0.000000e+00,5.905000e+03,3.210000e+01,1.600000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.720000e+02,1.100000e+01
50%,0.000000e+00,1.200000e+04,0.000000e+00,1.269000e+01,3.752900e+02,3.000000e+00,1.100000e+01,6.000000e+00,6.500000e+04,2.015000e+03,1.751000e+01,1.100000e+01,0.000000e+00,1.119600e+04,5.120000e+01,2.300000e+01,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,6.920000e+02,1.500000e+01
75%,0.000000e+00,2.000000e+04,1.000000e+00,1.602000e+01,5.786800e+02,3.000000e+00,1.500000e+01,1.500000e+01,9.200000e+04,2.017000e+03,2.397000e+01,1.400000e+01,0.000000e+00,1.996800e+04,7.020000e+01,3.200000e+01,1.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,7.170000e+02,2.000000e+01
max,1.000000e+00,4.000000e+04,1.000000e+00,2.730273e+01,1.214796e+03,7.000000e+00,3.500000e+01,1.500000e+01,4.296541e+05,2.020000e+03,4.356854e+01,2.820628e+01,1.895833e+00,8.391774e+04,1.254820e+02,6.105318e+01,1.000000e+00,1.224071e+00,7.586159e+00,1.000000e+00,8.475000e+02,3.893250e+01

# 5) Missing Data Handling

In [45]:
### DROP ALL ROWS WITH MISSING DATA ### 
# data volume large enough to drop incomplete records as imputation bears risk of adding noise/inaccurate value imputation

data.dropna(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1317123 entries, 42536 to 2523330
Data columns (total 30 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   default               1317123 non-null  int64
 1   loan_amnt             1317123 non-null  float64
 2   term                  1317123 non-null  int64
 3   int_rate              1317123 non-null  float64
 4   installment           1317123 non-null  float64
 5   grade                 1317123 non-null  int64
 6   sub_grade             1317123 non-null  int64
 7   emp_length            1317123 non-null  float64
 8   emp_title             1317123 non-null  object
 9   home_ownership        1317123 non-null  object
 10  annual_inc            1317123 non-null  float64
 11  verification_status   1317123 non-null  object
 12  issue_d               1317123 non-null  float64
 13  purpose               1317123 non-null  object
 14  dti                   1317123 non-null  float64
 15  open_acc              1317123 non-null  float64
 16  pub_rec               1317123 non-null  float64
 17  revol_bal             1317123 non-null  float64
 18  revol_util            1317123 non-null  float64
 19  total_acc             1317123 non-null  float64
 20  initial_list_status   1317123 non-null  float64
 21  pub_rec_bankruptcies  1317123 non-null  float64
 22  mort_acc              1317123 non-null  float64
 23  addr_state            1317123 non-null  object
 24  grade_code            1317123 non-null  object
 25  sub_grade_code        1317123 non-null  object
 26  emp_length_code       1317123 non-null  object
 27  manager               1317123 non-null  float64
 28  fico                  1317123 non-null  float64
 29  yrs_cr_line           1317123 non-null  float64
dtypes: float64(18), int64(4), object(8)
memory usage: 311.5+ MB

In [46]:
def get_stats(df, col):
    out = pd.DataFrame(index=['%_missing', 'Mean', 'Median', 'Mode'])
    
    out[col] = [round(df[col].isna().sum()/df.shape[0],4)*100,
                round(df[col].mean(),4),
                round(df[col].median(),4),
                round(df[col].mode()[0],4)]
    
    return out

### emp_length

In [47]:
data['emp_length'].value_counts(normalize=True, dropna=False).sort_index(ascending=True).to_frame()

      emp_length
0.5     0.084074
1.0     0.070007
2.0     0.095545
3.0     0.084820
4.0     0.063551
5.0     0.066134
6.0     0.049222
7.0     0.047415
8.0     0.047465
9.0     0.038841
15.0    0.352928

In [48]:
get_stats(data, 'emp_length')

           emp_length
%_missing      0.0000
Mean           7.7929
Median         6.0000
Mode          15.0000

In [49]:
data['emp_length'].fillna(data['emp_length'].mean(), inplace=True)

### revol_util

In [50]:
data['revol_util'].describe().to_frame()

         revol_util
count  1.317123e+06
mean   5.125347e+01
std    2.466683e+01
min    0.000000e+00
25%    3.260000e+01
50%    5.150000e+01
75%    7.030000e+01
max    1.254820e+02

In [51]:
get_stats(data, 'revol_util')

           revol_util
%_missing      0.0000
Mean          51.2535
Median        51.5000
Mode           0.0000

In [52]:
data['revol_util'].fillna(data['revol_util'].mean(), inplace=True)

### pub_rec_bankruptcies

In [53]:
data['pub_rec_bankruptcies'].value_counts(normalize=True, dropna=False).sort_index(ascending=True).to_frame()

          pub_rec_bankruptcies
0.000000              0.881760
1.000000              0.112111
1.224071              0.006129

In [54]:
get_stats(data, 'pub_rec_bankruptcies')

           pub_rec_bankruptcies
%_missing                0.0000
Mean                     0.1196
Median                   0.0000
Mode                     0.0000

In [55]:
data['pub_rec_bankruptcies'].fillna(data['pub_rec_bankruptcies'].mean(), inplace=True)

### mort_acc

In [56]:
data['mort_acc'].describe().to_frame()

           mort_acc
count  1.317123e+06
mean   1.604939e+00
std    1.884667e+00
min    0.000000e+00
25%    0.000000e+00
50%    1.000000e+00
75%    3.000000e+00
max    7.586159e+00

In [57]:
get_stats(data, 'mort_acc')

           mort_acc
%_missing    0.0000
Mean         1.6049
Median       1.0000
Mode         0.0000

In [58]:
data['mort_acc'].fillna(data['mort_acc'].mean(), inplace=True)

## Check if any missing data left

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1317123 entries, 42536 to 2523330
Data columns (total 30 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   default               1317123 non-null  int64
 1   loan_amnt             1317123 non-null  float64
 2   term                  1317123 non-null  int64
 3   int_rate              1317123 non-null  float64
 4   installment           1317123 non-null  float64
 5   grade                 1317123 non-null  int64
 6   sub_grade             1317123 non-null  int64
 7   emp_length            1317123 non-null  float64
 8   emp_title             1317123 non-null  object
 9   home_ownership        1317123 non-null  object
 10  annual_inc            1317123 non-null  float64
 11  verification_status   1317123 non-null  object
 12  issue_d               1317123 non-null  float64
 13  purpose               1317123 non-null  object
 14  dti                   1317123 non-null  float64
 15  open_acc              1317123 non-null  float64
 16  pub_rec               1317123 non-null  float64
 17  revol_bal             1317123 non-null  float64
 18  revol_util            1317123 non-null  float64
 19  total_acc             1317123 non-null  float64
 20  initial_list_status   1317123 non-null  float64
 21  pub_rec_bankruptcies  1317123 non-null  float64
 22  mort_acc              1317123 non-null  float64
 23  addr_state            1317123 non-null  object
 24  grade_code            1317123 non-null  object
 25  sub_grade_code        1317123 non-null  object
 26  emp_length_code       1317123 non-null  object
 27  manager               1317123 non-null  float64
 28  fico                  1317123 non-null  float64
 29  yrs_cr_line           1317123 non-null  float64
dtypes: float64(18), int64(4), object(8)
memory usage: 311.5+ MB

## Save cleaned dataset for EDA with Outlier & Missing Data Capping/Removal

In [47]:
data.to_csv("data_eda_no_outliers.csv", index=False)

In [60]:
# remove "encoded" columns for modeling dataset
data.drop(['grade_code','sub_grade_code','emp_length_code'], inplace=True, axis=1)

# 5) One-hot-encoding

In [61]:
### home_ownership
data = pd.get_dummies(data=data, columns=['home_ownership'], drop_first=False, prefix='home')

In [62]:
### loan_purpose
data = pd.get_dummies(data=data, columns=['purpose'], drop_first=False, prefix='purp')

In [63]:
### verification_status
data = pd.get_dummies(data=data, columns=['verification_status'], drop_first=False, prefix='verification')

In [64]:
### emp_title
data = pd.get_dummies(data=data, columns=['emp_title'], drop_first=False, prefix='title')

In [65]:
### emp_title
data = pd.get_dummies(data=data, columns=['addr_state'], drop_first=False, prefix='state')

In [66]:
data.head()

,default,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,annual_inc,issue_d,dti,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,pub_rec_bankruptcies,mort_acc,manager,fico,yrs_cr_line,home_ANY,home_MORTGAGE,home_NONE,home_OTHER,home_OWN,home_RENT,purp_CAR,purp_CREDIT_CARD,purp_DEBT_CONSOLIDATION,purp_EDUCATIONAL,purp_HOME_IMPROVEMENT,purp_HOUSE,purp_MAJOR_PURCHASE,purp_MEDICAL,purp_MOVING,purp_OTHER,purp_RENEWABLE_ENERGY,purp_SMALL_BUSINESS,purp_VACATION,purp_WEDDING,verification_NOT_VERIFIED,verification_SOURCE_VERIFIED,verification_VERIFIED,title_DIRECTOR,title_DRIVER,title_ENGINEER,title_GENERAL MANAGER,title_MANAGER,title_MISSING,title_OFFICE MANAGER,title_OTHER,title_OWNER,title_PRESIDENT,title_PROJECT MANAGER,title_REGISTERED NURSE,title_SALES,title_SUPERVISOR,title_TEACHER,title_TRUCK DRIVER,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_DE,state_FL,state_GA,state_HI,state_IA,state_ID,state_IL,state_IN,state_KS,state_KY,state_LA,state_MA,state_MD,state_ME,state_MI,state_MN,state_MO,state_MS,state_MT,state_NC,state_ND,state_NE,state_NH,state_NJ,state_NM,state_NV,state_NY,state_OH,state_OK,state_OR,state_PA,state_RI,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY
42536,0,12000.0,0,10.99,392.81,2,7,4.0,60000.0,2013.0,4.62,15.0,0.0,7137.0,24.0,18.0,0.0,0.0,0.0,1.0,722.0,4.0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
42537,0,4800.0,0,10.99,157.13,2,7,2.0,39600.0,2013.0,2.49,3.0,0.0,4136.0,16.1,8.0,1.0,0.0,0.0,0.0,757.0,18.0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
42538,0,27050.0,0,10.99,885.46,2,7,15.0,55000.0,2013.0,22.87,14.0,0.0,36638.0,61.2,27.0,1.0,0.0,4.0,0.0,732.0,27.0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
42539,0,12000.0,0,7.62,373.94,1,3,3.0,96500.0,2013.0,12.61,17.0,0.0,13248.0,55.7,30.0,0.0,0.0,1.0,0.0,707.0,10.0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
42540,0,14000.0,0,12.85,470.71,2,9,4.0,88000.0,2013.0,10.02,6.0,1.0,3686.0,81.9,14.0,0.0,1.0,0.0,0.0,672.0,25.0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Save cleaned modeling dataset

In [55]:
data.to_csv("data_clean_full.csv", index=False)